<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue中的表单绑定的种种</title>
    <script src="./vue.js"></script>
</head>
<body>

    <div id="root">

        <!-- 输入框 -->
        <!-- <input v-model="value"/>
        {{value}} -->

        <!-- checkbox -->
        <!-- <input type="checkbox" v-model="value"/>
        {{value}} -->

        <!-- 单选框+内容 -->
        <!-- <input type="radio" value="test" v-model="value"/>
        {{value}} -->

        <!-- 选择器+内容 -->
        <!-- <select v-model="value">
            <option disabled>--请选择--</option>
            <option value='1'>A</option>
            <option value='2'>B</option>
            <option value='3'>C</option>
        </select>
        {{value}} -->

        <!-- 不实时更新数据使用lazy，而是失去焦点的时候修改数据，提高表单填写的性能 -->
        <!-- <input type="text" v-model.lazy="value"/>
        {{value}} -->

        
        <!-- <input type="text" v-model.number="value"/>
        {{value}} -->

        <!-- 帮助我们去掉input输入框前后多余的空格 -->
        <input type="text" v-model.trim="value"/>
        {{value}}

    </div>
    <script>
        new Vue({
            el: "#root",
            data: {
                value: ""
            },
            watch: {
                value: function() {
                    console.log(typeof this.value)
                }
            }
        })
    </script>
</body>
</html>